In [2]:
#Importing Core Libs
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.colors import LinearSegmentedColormap
import seaborn as sns
%matplotlib inline

#Setting color palette for Seaborn
colors = ["#26536f", "#3b96b7", "#749ca8", "#b6a98d", "#c78a4d", "#854927"]
sns.set_palette(colors)

#Text Processing Libs
import nltk
from wordcloud import WordCloud

#Sentiment Analysis
from textblob import TextBlob

#Download required NLTK data
nltk.download('stopwords')
nltk.download('punkt')

#Machine Learning Libs
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

#Evaluation Metrics
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, f1_score, classification_report,
    confusion_matrix, roc_curve, roc_auc_score, ConfusionMatrixDisplay, auc
)

[nltk_data] Downloading package stopwords to /home/msouza/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/msouza/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
#Config the download of Kaggle Dataset

#Run these commands on CLI or using '!' before each here.
#pip install kaggle
#Go to your Kaggle account settings: Kaggle Account.

#Scroll down to the API section and click Create New API Token.

#This will download a kaggle.json file. Place it in the ~/.kaggle/ or other directory on your machine:
#If used ~/.kaggle dir:
#mkdir ~/.kaggle
#mv ~/Downloads/kaggle.json ~/.kaggle/
#chmod 600 ~/.kaggle/kaggle.json

#In folder of project do:
#kaggle datasets download -d olistbr/brazilian-ecommerce -p data/raw/
#unzip data/raw/brazilian-ecommerce.zip -d data/raw/

#And all data with the zip and the CSVs files on /data/raw

In [4]:
#Now will made a df for each csv file for work separately with these

#Using base path for each datafame
current_dir = os.path.join(os.path.join(os.getcwd(), ".."))
project_root = os.path.abspath(current_dir)
base_path = os.path.join(project_root, "data","raw")


# Read files into DataFrames
df_items = pd.read_csv(f"{base_path}/olist_order_items_dataset.csv")
df_reviews = pd.read_csv(f"{base_path}/olist_order_reviews_dataset.csv")
df_orders = pd.read_csv(f"{base_path}/olist_orders_dataset.csv")
df_products = pd.read_csv(f"{base_path}/olist_products_dataset.csv")
df_geolocation = pd.read_csv(f"{base_path}/olist_geolocation_dataset.csv")
df_sellers = pd.read_csv(f"{base_path}/olist_sellers_dataset.csv")
df_payments = pd.read_csv(f"{base_path}/olist_order_payments_dataset.csv")
df_customers = pd.read_csv(f"{base_path}/olist_customers_dataset.csv")
df_category = pd.read_csv(f"{base_path}/product_category_name_translation.csv")
dataframes = [df_items, df_reviews, df_orders, df_products, df_geolocation, df_sellers, df_payments, df_customers, df_category]

In [5]:
#Vizualizing 2 examples df's
df_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [6]:
df_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [7]:
#Merging important dataframes for better workflow
#This facilities working with all data

df_centred = df_orders.merge(df_items, on='order_id', how='inner')
df_centred = df_centred.merge(df_payments, on='order_id', how='inner', validate='m:m')
df_centred = df_centred.merge(df_reviews, on='order_id', how='inner')
df_centred = df_centred.merge(df_products, on='product_id', how='inner')
df_centred = df_centred.merge(df_customers, on='customer_id', how='inner')
df_centred = df_centred.merge(df_sellers, on='seller_id', how='inner')

#If necessary, more merge can be made

df_centred.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,product_length_cm,product_height_cm,product_width_cm,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,3a51803cc0d012c3b5dc8b7528cb05f7,3366,sao paulo,SP,9350,maua,SP
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15 00:00:00,1,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,ef0996a1a279c26e7ecbd737be23d235,2290,sao paulo,SP,9350,maua,SP

In [8]:
#Understand more the df
df_centred.shape

(117329, 39)

In [9]:
df_centred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117329 entries, 0 to 117328
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       117329 non-null  object
 1   customer_id                    117329 non-null  object
 2   order_status                   117329 non-null  object
 3   order_purchase_timestamp       117329 non-null  object
 4   order_approved_at              117314 non-null  object
 5   order_delivered_carrier_date   116094 non-null  object
 6   order_delivered_customer_date  114858 non-null  object
 7   order_estimated_delivery_date  117329 non-null  object
 8   order_item_id                  117329 non-null  int64
 9   product_id                     117329 non-null  object
 10  seller_id                      117329 non-null  object
 11  shipping_limit_date            117329 non-null  object
 12  price                          117329 non-null  float64
 13  freight_value                  117329 non-null  float64
 14  payment_sequential             117329 non-null  int64
 15  payment_type                   117329 non-null  object
 16  payment_installments           117329 non-null  int64
 17  payment_value                  117329 non-null  float64
 18  review_id                      117329 non-null  object
 19  review_score                   117329 non-null  int64
 20  review_comment_title           13892 non-null   object
 21  review_comment_message         49679 non-null   object
 22  review_creation_date           117329 non-null  object
 23  review_answer_timestamp        117329 non-null  object
 24  product_category_name          115634 non-null  object
 25  product_name_lenght            115634 non-null  float64
 26  product_description_lenght     115634 non-null  float64
 27  product_photos_qty             115634 non-null  float64
 28  product_weight_g               117309 non-null  float64
 29  product_length_cm              117309 non-null  float64
 30  product_height_cm              117309 non-null  float64
 31  product_width_cm               117309 non-null  float64
 32  customer_unique_id             117329 non-null  object
 33  customer_zip_code_prefix       117329 non-null  int64
 34  customer_city                  117329 non-null  object
 35  customer_state                 117329 non-null  object
 36  seller_zip_code_prefix         117329 non-null  int64
 37  seller_city                    117329 non-null  object
 38  seller_state                   117329 non-null  object
dtypes: float64(10), int64(6), object(23)
memory usage: 34.9+ MB

In [10]:
#Searching by NaN data
df_centred.isna().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                    15
order_delivered_carrier_date       1235
order_delivered_customer_date      2471
order_estimated_delivery_date         0
order_item_id                         0
product_id                            0
seller_id                             0
shipping_limit_date                   0
price                                 0
freight_value                         0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
review_id                             0
review_score                          0
review_comment_title             103437
review_comment_message            67650
review_creation_date                  0
review_answer_timestamp               0
product_category_name              1695
product_name_lenght                1695
product_description_lenght         1695
product_photos_qty                 1695
product_weight_g                     20
product_length_cm                    20
product_height_cm                    20
product_width_cm                     20
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
seller_zip_code_prefix                0
seller_city                           0
seller_state                          0
dtype: int64